html, body {
    background-color: #f0f1fa;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

header {
    overflow: hidden;
}

.heading, .heading header {
    overflow: hidden;
    background-color: cadetblue;
    margin: 0;
    height: 42px;
    width: 100%;
}

.heading h1 {
    color: black;
    margin: 0;
    padding-left: 5px;
    padding-top: 4px;
    width: 100%;
    height: 32px;
    font-family: Lato, sans-serif;
}

.sidebar {
    position: absolute;
    height: 100%;
    width: 200px;
    background-color: #bddeea;
}

/* Sidebar links */
.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    font-family: "Roboto Light", sans-serif;
    font-size: 18px;
}

.sidebar a:hover {
    background-color: #d1fffc;
}

.sidebar-home a.home {
    background-color: #6ad4ff;
}

.sidebar-sports a.sports {
    background-color: #6ad4ff;
}

.sidebar-trainers a.trainers {
    background-color: #6ad4ff;
}

.sidebar-members a.members {
    background-color: #6ad4ff;
}
.wrapper {
    width: 100%;
    height: 100%;
}

.content {
    margin-left: 200px;
}

.content-padding {
    padding: 100px;
}

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #f0f1fa;
}

.flex-row {
    display: flex;
}

.overlay-content {
    padding: 15px;
}

.button-new {
    margin-top: 25px;
}

#new-but {
    width: 85px;
    height: 35px;
    border: 2px solid lightgray;
    border-radius: 5px;
}

#new-but:hover {
    border: 2px solid cadetblue;
}

.resp {
    margin-top: 15px;
    margin-left: 15px;
    font-family: Lato, sans-serif;
}
