.new-trainer-form {
    margin: 15px;
}

.edit-form {
    height: 300px;
}

.new-sport-trainer-form {
    top: 5px;
    margin-left: 100px;
    height: 300px;
}

.sport-trainer-table {
    margin-top: 50px;
}